.hid{
    display: none !important;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    word-break: break-all;
}
#create_word_group{
    display:flex;
    flex-direction: column;
    min-height:fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sidebar_family{
    top:0;
    left:0;
    position:fixed;
    display:flex;
    min-width:fit-content;
    flex-direction: row;

    transform: translateX(0);
}
.sidebar_button{
    display: flex;
    align-self: flex-start;
}
.sidebar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border:solid 5px;
    background-color: rgb(218, 224, 238);
}
.second_turn{
    transition: transform 0.3s ease-in-out;
}
.hide_sidebar{
    transform: translateX(var(--hide_distance,0px));
}
#content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#custom_word{
    min-height:fit-content;
    justify-self: center;
}
.custom_word_buttons{
    display:flex;
    min-height:fit-content;
    justify-content: center;
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    appearance: none;
    background: none;
    border:none;
    margin:3px;
    /* transition: 0.5s ease; */
    /* background-color: rgb(198, 213, 226); */
    /* padding: 0; */
}
button,li{
    cursor:pointer;
    font-size: small;
}
li{
    background:linear-gradient(to right,rgb(90, 178, 255), rgb(198, 213, 226));
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
}
button{
    background:linear-gradient(to right,rgb(120, 90, 255), rgb(218, 198, 226));
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
}
/* button:hover{
    border: 3px solid rgb(141, 184, 221);
    border-radius: 20%;
    background-color: rgb(121, 180, 231);

}
button:active{
    border-radius: 20%;
    background-color: rgb(67, 99, 127);

} */
button:hover,li:hover{
    background-position: left bottom;
}